In [1]:
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from scipy.sparse import csr_matrix


books = pd.read_csv('books.csv')
data = books[['id', 'book_id', 'authors', 'title', 'average_rating', 'ratings_count']]

data.head()

,id,book_id,authors,title,average_rating,ratings_count
0,1,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",4.34,4780653
1,2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,4.44,4602479
2,3,41865,Stephenie Meyer,"Twilight (Twilight, #1)",3.57,3866839
3,4,2657,Harper Lee,To Kill a Mockingbird,4.25,3198671
4,5,4671,F. Scott Fitzgerald,The Great Gatsby,3.89,2683664

In [4]:
with open("books.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [8]:
books_data = pd.read_csv('books.csv')